<table class="table table-dark">
    <thead>
        <tr>
        <th scope="col">Cedula</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Telefono</th>
        <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client of clientItems">
        <th scope="row">{{client.id}}</th>
        <td>{{client.firstName}}</td>
        <td>{{client.lastName}}</td>
        <td>{{client.phone}}</td>
        <td>{{client.email}}</td>
        </tr>
    </tbody>
</table>